/* General Styles */
body {
  background-color: #f4f4f3;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

/* Header */
.header {
  background-color: #f4f4f3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;
}

.logo-container {
  text-align: center;
}

.logo {
  width: 70px;
  margin: 50px 0;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  padding: 10px 15px;
  transition: color 0.3s ease;
  display: inline-block; /* 使 <a> 标签可以缩放 */
  transition: transform 0.3s ease; /* 添加平滑过渡效果 */
}

.menu a:hover {
  transform: scale(1.1); /* 放大 1.1 倍 */
  color: #ff641c;
}

.menu a.active {
  text-decoration: underline;
  color: #ff641c;
}

/* Main Content */
.container {
  padding: 350px 20px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.h2-description {
  font-size: 40px;
  line-height: 1.5;
  text-align: left;
}

.h4-description {
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  font-style: italic; /* 添加斜体效果 */
}

.circle-image {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

/* Location & Contact */
.location-contact {
  display: flex;
  justify-content: center;
  gap: 300px;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 100px;
}

.column {
  width: 200px;
}

h3 {
  font-size: 22px;
  text-transform: uppercase;
  color: #ff641c;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 100px;
  padding: 20px 0;
}

.copyright {
  font-size: 15px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 150px 20px;
  }

  .h2-description,
  .h4-description,
  p {
    text-align: center;
  }

  .location-contact {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
  }

  .menu ul {
    flex-direction: column;
    gap: 10px;
  }

  .menu li {
    margin: 0;
  }
}
